{
  "presets": [["@babel/preset-env", { "loose": true }], "@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    "react-hot-loader/babel",
    //   ['import', { libraryName: 'antd', style: 'css' }], // `style: true` 会加载 less 文件
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-transform-runtime"],
    ["@babel/plugin-transform-modules-commonjs"]
  ]
}
